.Header {
  background: #333b44;
  height: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
}

.header-title {
	flex-grow: 1;
	text-align: left;
	padding-left: 10px;
}

.header-glyphicons {
	display: flex;
  flex-direction: row-reverse;
}

.notif-menu {
  padding-top: 10px;
}

.header-glyphicons > div > button {
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  font-size: 1.2em !important;
}

.glyphiconstyle {
	 color: #aaa;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 40px !important;
    padding: 0 15px 0 15px;
}

.glyphiconstyle:hover {
	color: white;
	cursor: pointer;
}

.glyphicon-log-out {
  padding-left: 5px;
}

.notification-popover {
	width: 200px;
}

.notification-popover .popover-title {
	background-color: #0f77ff;
	color: white;
}
.notification-popover .popover-content {
	color: black;
}

.notif-menu-card {
  border: 2px solid #d2d2d2;
  margin: 5px;
}

.notif-menu-card-content {
  font-size: 0.8em;
}

.logout {
  font-size: 1em;
}

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: .5em;
    background: #ff2d2d;
    color: white;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 9px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1px #333;
    box-shadow: 0 0 1px #333;
    font-weight: 900;
}
