.Header {
  background: #0f77ff;
  height: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
}

.header-title {
	flex-grow: 1;
	text-align: left;
	padding-left: 10px;
}

.header-glyphicons {
	display: flex;
  flex-direction: row-reverse;
}

.glyphicon {
	color: white;
    font-size: 1.6em;
    vertical-align: middle;
    line-height: 40px !important;
    padding: 0 10px 0 10px;
}

.glyphicon:hover {
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}