.Header {
  background: #333b44;
  height: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
}

.header-title {
	flex-grow: 1;
	text-align: left;
	padding-left: 10px;
}

.header-glyphicons {
	display: flex;
  flex-direction: row-reverse;
}

.glyphiconstyle {
	 color: #aaa;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 40px !important;
    padding: 0 15px 0 15px;
}

.glyphiconstyle:hover {
	color: white;
	cursor: pointer;
}

.glyphicon-log-out {
  padding-left: 5px;
}

.notification-popover {
	width: 200px;
}

.notification-popover .popover-title {
	background-color: #0f77ff;
	color: white;
}
.notification-popover .popover-content {
	color: black;
}

.logout {
  font-size: 1em;
}