.Nav-Bar {
  text-align: left;
  box-sizing: border-box;
  width: 120px;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  background: #444444;
}

.bg-light {
    background-color: #f8f9fa;
}