.Nav-Bar {
  text-align: left;
  box-sizing: border-box;
  width: 140px;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  background: #333b44;
  position: fixed;
  height: 100%;
}

.bg-light {
    background-color: #f8f9fa;
}