.nav-item {
  text-align: left;
  padding: 15px;
  height: 60px;
}

.nav-item:hover {
	cursor: pointer;
}

.nav-item:hover > a{
	color: white;
}

.nav-item:hover > .glyphicon {
	color: white;
}

.nav-item > .glyphicon {
	color: #aaa;
    vertical-align: middle;
    padding: 0 10px 5px 0px;
   }

.nav-item a:hover {
  	text-decoration: none !important;
}

.nav-item a {
  	color: #aaa;
}

.nav-item-selected a {
  color: white !important;
}

.nav-item-selected > .glyphicon {
  color: white !important;
}
