.AddButton {
  text-align: center;
  background: #0f77ff;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 3px 2px #eeeeee;
}

.AddButton:hover {
  text-align: center;
  background: #5ea3ff;
  cursor: pointer;
}

.Callout {
	z-index: 1;
	position: fixed;
	top: 20%;
	left: 50%;
	background: white;
	height: 500px;
	width: 500px;
  	margin-left: -250px;
	padding: 10px;
	box-shadow: 0 0 3px 2px #dddddd;
}