.Button {
  text-align: center;
  background: #409ff7;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: none;
}

.Button:hover {
  text-align: center;
  background: #3c8ad2;
  cursor: pointer;
}