.Button {
  text-align: center;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: none;
}

.active-button {
  background: #00bcd4;
}

.active-button:hover {
  text-align: center;
  background: #79d3de;
  cursor: pointer;
}

.disabled-button {
  background: #eeeeee;
}