.Button {
  text-align: center;
  background: #00bcd4;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: none;
}

.Button:hover {
  text-align: center;
  background: #79d3de;
  cursor: pointer;
}