.CaptureReplayItem {
  height: 180px;
  flex: 0 0 180px;
  display: flex;
  flex-direction: row;
  background: white;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  padding-right: 5px;
}

.status-bar {
    width: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.capture-complete-bar { 
    background: #5dd1e0;
}

.capture-in-progress-bar {
	background: #8be262;
}

.capture-error-bar {
	background: #ff6161;
}

.capture-not-started-bar {
	background: #aaaaaa;
}

.capture-loading-bar {
	background: #fbe046;
}

.capture-complete {
	color: #5dd1e0;
}

.capture-in-progress {
    color: #8be262;
}

.capture-error {
	color: #ff6161;
}

.capture-not-started {
	color: #aaaaaa;
}

.capture-loading {
	color: #fbe046;
}

.capture-replay-item-content {
	text-align: left;
	padding-left: 5px;
	width:160px;
}

.capture-sub-item {
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.stop-capture-button-active {
  background: #ff6161;
  border-radius: 10px;
  padding: 1px 0px;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-top: 45px;
}

.stop-capture-button-disabled {
  background: #eeeeee;
  border-radius: 10px;
  padding: 1px 0px;
  color: white;
  text-align: center;
  margin-top: 45px;
}

.stop-capture-button-active:hover {
  background: #ff9393;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}