.HomePage {
  text-align: left;
  background: #f7f7f7;
  box-sizing: border-box;
  flex-grow: 1;
}

.add-capture-content {
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
}

.add-capture-item {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}

.add-capture-item > div {
	font-size: 1em !important;
	height: 40px !important;
}

.capture-row {
	display: flex;
	flex-direction: row;
}

.capture-row > div > div {
	font-size: 1em !important;
	height: 40px !important;
}

.error-message {
	color: red;
}