.HomePage {
  text-align: left;
  background: #f7f7f7;
  box-sizing: border-box;
  flex-grow: 1;
}

.add-capture-content {
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
}

.add-capture-content > .notif-message {
	padding-top: 5px;
	color: #00bcd4;
}

.add-capture-item {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}

.add-capture-item > div {
	font-size: 1em !important;
	height: 40px !important;
}

.rds-instance-item {
  display: flex;
	flex-direction: column;
	padding-top: 15px;
}

.override-dropdown-width {
  font-size: 1em !important;
	height: 40px !important;
}

.capture-row {
	display: flex;
	flex-direction: row;
}

.capture-row > div > div {
	font-size: 1em !important;
	height: 40px !important;
}

.rds-instance-row {
	display: flex;
	flex-direction: row;
}

.rds-instance-row > div {
  padding-right: 5px;
}

.add-replay-content {
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
}

.add-replay-content > .notif-message {
	padding-top: 5px;
	color: #00bcd4;
}

.add-replay-item {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}

.add-replay-item > div {
	font-size: 1em !important;
	height: 40px !important;
}

.replay-row {
	display: flex;
	flex-direction: row;
}

.replay-row > div > div {
	font-size: 1em !important;
	height: 40px !important;
}

.error-message {
	color: red;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
