.LogInBg {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  background: #333b44;
}

.LogIn {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin: -200px 0 0 -200px;
	background: white;
	border-radius: 5px;
}

.LogIn > .log-in-content {
	align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height:400px;
}
.log-in-item {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 15px;
}

.log-in-item > h3 {
	color: #00bcd4;
}

.log-in-register-link {
	color: #00bcd4;
}

.log-in-register-link:hover {
	color: #79d3de;
	text-decoration: underline;
	cursor: pointer;
}

.register-content {
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
}

.register-item {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}

.register-item > div {
	font-size: 1em !important;
	height: 40px !important;
}

.log-in-error {
	color: red;
}